/**
 * -------------------------------------------------------------------------------------------------
 * Wrapper styles for sections
 * -------------------------------------------------------------------------------------------------
 */

.site__header,
.site__footer,
.site__content {
	clear: both;
	margin: 0;
	display: block;

	width: 90%;
	max-width: 70em;
	margin: 1em auto;
}

