/**
 * -------------------------------------------------------------------------------------------------
 * .about
 * -------------------------------------------------------------------------------------------------
 */

.about {
	//background: lighten($col-border, 10%);
	background: $col-brand-alt;
}

/*
The following bits create a little triangular arrow above the box.
It sits in its own media query so that it doesn't display when the page is printed.
*/
/*@media screen {*/
	.about {
		position: relative;
		z-index: 90;

		&:after {
			content: "";
			width: 0;
			height: 0;
			border: transparent 15px solid;
			//border-bottom-color: lighten($col-border, 10%);
			border-bottom-color: $col-brand-alt;
			display: block;
			position: absolute;
			top: -30px;
			left: 10px;
		}
		/* END of the triangle adding code. */
	}
/*}*/

@media screen and ( min-width: 700px ) {
	.about {
		width: 50%;
	}
}

// The show animation
.about {
	display: block;
	height: 0;
	opacity: 0;
	color: $col-text-reverse;
	@include transition(all, 0.7s, linear);
	
	a {
		border-color: $col-text-reverse;
		color: $col-text-reverse;
	}
	
	&:target {
		height: auto;
		opacity: 1;
		margin: 1em 0 5em 0;
		padding: 2em;
		@include transition(all, 0.7s, ease);
				
		/*
		The hide animation
		This sits here because you don't want to have the margin-bottom of the
		.about__close thing messing up the design when it's not in view
		*/
		.about__close {
			float: right;
			margin-bottom: 0.7em;
			padding: 0.1em;
			border-bottom: none;
			color: $col-text-light;
		
			&:hover {
				border-bottom: none;
				color: $col-text;
			}
		
			&:target {
				display: block;
			  	height: 0;
			  	opacity: 0;
			}
		}
	}
}

.about__close + p {
	clear: right;
}
