/**
 * -------------------------------------------------------------------------------------------------
 * .project
 * -------------------------------------------------------------------------------------------------
 */

.project {

	@media screen and ( max-width: 37.49em ) {
	
		width: 100%;
		margin-bottom: 1em;
		
		img { width:  100% !important; }
	}

	/* 600px */
	@media screen and ( min-width: 37.50em ) {
		margin: 0.1em;
	}
		
	/* hover effect */
	a {
		position: relative;
		display: block;
		//padding-bottom: 0.1em;
		margin: 0;
		padding: 0;
	}
	
	.project__meta {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 0;
		overflow: hidden;
		background-color: $col-page;
		opacity: 0.9;
		@include transition (all, 0.5s, ease);
	}
	
	a:hover .project__meta {		
		height: 100%;
	}
				
	span {
		position: absolute;
		top: 50%; 
		left: 50%;
		text-align: center;
		color: $col-text;
		@include transform (translate(-50%, -50%));	
	}	
	
}

/**
 * -------------------------------------------------------------------------------------------------
 * .project__meta
 * This class is used by project excerpts on the home page, 
 * and project links on single project pages.
 * -------------------------------------------------------------------------------------------------
 */

.project__meta {
	
	h3 {
		margin-bottom: 1em;	
		padding-bottom: 1em;
		border-bottom: 1px solid $col-text;
		
		display: inline-block;
		.nav__excerpt.previous & { padding-right: 2em; }
		.nav__excerpt.next & { padding-left: 2em; }
	}
	
	p {
		@include font-bold();
		@include font-size(12);
		text-transform: uppercase;
		letter-spacing: 1px;
	}
}
