</main>

<footer id="colophon" class="site__footer" role="contentinfo">

	<p class="smallprint">&copy; 2018 All rights reserved. | Made by <a href="http://www.jokedewinter.co.uk" rel="external">Joke De Winter</a>.</p>

	<ul class="colophon__social">
		<li>
			<a href="http://dribbble.com/jokedewinter" rel="external">
			<span class="screen-reader-text">Dribbble</span>
			<svg class="svg__icon"><use xlink:href="#dribbble"></use></svg>
			</a>
		</li>
		<li>
			<a href="http://twitter.com/jokedewinter" rel="external">
		   	<span class="screen-reader-text">Twitter</span>
			<svg class="svg__icon"><use xlink:href="#twitter"></use></svg>
			</a>
		</li>
		<li>
			<a href="mailto:joke@jokedewinter.co.uk">
		   	<span class="screen-reader-text">Email</span>
			<svg class="svg__icon"><use xlink:href="#email"></use></svg>
			</a>
		</li>
		<li>
			<a href="http://uk.linkedin.com/in/jokedewinter" rel="external">
			<span class="screen-reader-text">LinkedIn</span>
			<svg class="svg__icon"><use xlink:href="#linkedin"></use></svg>
			</a>
		</li>
	</ul>
</footer><!-- .site__footer -->

</body>
</html>
