<!DOCTYPE html> 
<html class="no-js" lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ site.description }}" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
  	<meta http-equiv="cleartype" content="on">

	<title>{{ site.title }} | {{ site.description }}</title>

	<link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css">
	
	<script>(function(){document.documentElement.className='js'})();</script>
	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700,900" rel="stylesheet">

</head>

<body class="site">

<header id="masthead" class="site__header" role="banner">
	<a class="site__banner" href="{{ site.baseurl }}/" rel="home">
		<h1>{{ site.title }}</h1>
		<img src="{{ site.baseurl }}/assets/jokedewinter.svg" alt="">
	</a>
	
	<nav class="site__nav" role="navigation">
		<ul>
			<li><a href="{{ site.baseurl }}/about/">About</a></li>
			<!--<li><a class="nav__anchor" href="#hello">About +</a></li>-->
		</ul>
	</nav>

</header>

<main class="site__content">
