@media print {

  .project__nav,
  .project__nav,
  .navigation,
  .about__close {
    display: none;
    height: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
  }

  .post .post__content {
  	max-width: 30em;
  }

  .about {
    display: block;
    height: auto;
    opacity: 1;
    margin-bottom: 2em;
    padding: 2em 0;
    border-top: 1px solid $col-border;
    border-bottom: 1px solid $col-border;
  }
}
