
// Site colour --------------------------------------

$col-brand: #cd4435; 		// red
$col-brand-alt: #5b5b6e;	// blue 
$col-brand-accent: #c2c0bb;	// light grey 

$col-blue: #5D698F; // Blue
$col-blue-dark: #38425C;

// Background --------------------------------------

$col-page: #f8f7f0; //#efefef;			// white
$col-page-reverse: rgba(0, 0, 0, 0.85);	// very dark grey

// Borders --------------------------------------

$col-border: #eee; 		// grey 

// Text --------------------------------------

$col-text: #4a4a4a;			// charcoal
$col-text-light: #aaa;		// grey
$col-text-reverse: #fff; 	// white

$col-text-alt: #858177;		// a lovely warm grey
$col-text-nav: #A3A098;		// mouse grey


// Special things --------------------------------------

$col-alert: #EFCD2E;		// yellow
$col-circle: #D8503F;		// red
