/**
 * -------------------------------------------------------------------------------------------------
 * Headings and paragraphs
 * -------------------------------------------------------------------------------------------------
 */

h1, h2, h3, h4 { line-height: 1.2; }
h5, h6, p { line-height: 1.7; }

h1 {
	@include font-body();
	@include font-size(64);
	margin-bottom: 0.5em;

}

h2, h3, h4, h5, h6 { margin-bottom: 0.5em; }

h2 { @include font-size(64); @include font-body(); }
h3 { @include font-size(24); @include font-body(); }
h4 { @include font-size(18); }
h5 { @include font-size(14); }
h6 { @include font-size(12); }

h5, h6 {
	@include font-bold();
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-top: 1.5em;
	color: $col-text-light;
}


p {
	@include font-size(18);
	margin-bottom: 0.75em;

	&.smallprint {
		@include font-size(12);
		line-height: 2.1;
	}

	.about & { @include font-size(14); }
	
	h2 + & { max-width: 50%; }
}

strong { @include font-bold(); }

time {
	@include font-size(12);
	@include font-bold();
	text-transform: uppercase;
	letter-spacing: 2px;
	//margin-bottom: 0.3em;
	color: $col-text-light;
}

/**
 * -------------------------------------------------------------------------------------------------
 * Lists
 * -------------------------------------------------------------------------------------------------
 */

ul, ol { margin-bottom: 0.75em; }
ol li { padding: 0.3em 0; }

/**
 * -------------------------------------------------------------------------------------------------
 * Blockquotes
 * -------------------------------------------------------------------------------------------------
 */

blockquote {

	margin: 0 0 1em 0;
	padding: 0.5em 2em;

	p {
		@include font-body();
		font-style: italic;
		@include font-size(16);
	}

	cite {
		display: inline-block;
		@include font-size(14);
		color: $col-text;

		a, a:visited, a:visited { color: $col-text; }
	}
}
