/**
 * -------------------------------------------------------------------------------------------------
 * .content
 * -------------------------------------------------------------------------------------------------
 */


.content {		
	
	header {
		display: flex;
		flex-direction: column-reverse;
		
		p {
			@include font-title();
			@include font-size(12);
			text-transform: uppercase;
			letter-spacing: 2px;
			margin-bottom: 0.75em;
			
			&:after {
				content: '';
				border-bottom: 2px solid $col-text;
				width: 3.5em;
				display: block;
				margin-top: 0.875em;
			}
		}
	}	
	
	&.project p { max-width: 50%; }
}

/**
 * -------------------------------------------------------------------------------------------------
 * .post__content
 * -------------------------------------------------------------------------------------------------
 */

.post__content {
	width: 100%;	
	display: flex;
	flex-direction: flex-row;
	
	figure {
		min-width: 33%;
		margin-right: 3em;
	}
}
