/**
 * -------------------------------------------------------------------------------------------------
 * .site__footer
 * -------------------------------------------------------------------------------------------------
 */
 
.site__footer {
	margin-top: 2em;
	padding-top: 4em;
	border-top: 1px solid $col-text-light;
}

.colophon__social {
	ul {
		list-style: none;
		margin: 0; }
		
	li {
		display: inline-block;
		margin: 0 0 0.875em 0.7em;
	}
	
	a {
		font-weight: normal;
		border-bottom: none;
	}
	
	.svg__icon {
		margin-left: -10px;
		width: 42px;
		height: 42px;
		fill: $col-text;
		display: inline-block;
		vertical-align: middle;
	}
		
}

@media screen and ( min-width: 37.50em ) {
	.smallprint { 
		width: 60%;
		float: left;
	}
	
	.colophon__social {
		float: right;
		text-align: right;
		width: 30%;
	}		
		
}

	
	
	
