/**
 * -------------------------------------------------------------------------------------------------
 * .site__nav
 * -------------------------------------------------------------------------------------------------
 */

.site__nav  { 
	
	align-self: flex-end;

	ul {
		float: right;
	}

	li {
		@include no-bullets();
		@include font-size(12);
		text-transform: uppercase;
		letter-spacing: 2px;
		line-height: 1;
		display: inline-block;
		text-align: right;
	
		margin-left: 1em;
		padding: 0.3em 
	}
	
	a {
		border-bottom: none;
	}

}