/**
 * -------------------------------------------------------------------------------------------------
 * .post__content
 * -------------------------------------------------------------------------------------------------
 */

.post__content {
	width: 100%;	
	display: flex;
	flex-direction: flex-row;
	
	figure {
		min-width: 33%;
		margin-right: 3em;
	}
}
